---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .a:hover * {
        @apply text-[var(--accent)];
      }
    </style>
    <!-- <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li h4,
      ul li .date {
        color: rgb(var(--accent));
      }
      ul img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
    </style> -->
  </head>
  <body>
    <Header />
    <main class="grid grid-cols-2 gap-4">
      {
        posts.map(post => (
          <div>
            <a href={`/blog/${post.slug}/`} class="group flex flex-col h-full">
              <img
                class="rounded-xl"
                width={720}
                height={360}
                text-right
                src={post.data.heroImage}
                alt=""
              />
              <h4 class="text-[var(--blue)] group-hover:text-[var(--accent)]">
                {post.data.title}
              </h4>
              <p class="text-sm text-[var(--blue)] group-hover:text-[var(--accent)] flex-1 flex-grow">
                {post.data.description}
              </p>
              <hr class="my-1 h-px border-none group-hover:bg-[var(--accent)] bg-[var(--blue)]" />
              <p class="text-sm text-[var(--blue)] group-hover:text-[var(--accent)] h-8">
                <FormattedDate date={post.data.pubDate} />
                <br />
                {post.data.updatedDate && (
                  <span>
                    (updated <FormattedDate date={post.data.updatedDate} />)
                  </span>
                )}
              </p>
            </a>
          </div>
        ))
      }
    </main>
    <Footer />
  </body>
</html>
