---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Tag from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";
import Img from "../components/Img.astro";
import { SITE_TITLE } from "../consts";

type Props = CollectionEntry<"blog">["data"];

const { title, description, tags, pubDate, updatedDate, heroImage } =
  Astro.props;
---

<BaseLayout title={title.toLowerCase() + " | " + SITE_TITLE}>
  <article>
    <div class="rounded-3xl">
      {
        heroImage && (
          <Img
            class="rounded-3xl"
            width={1020}
            height={510}
            src={heroImage}
            alt=""
            loading="eager"
          />
        )
      }
    </div>
    <div class="prose">
      <div class="p-4 text-center leading-4">
        <div class="mb-4 pb-0 text-3xl font-bold">{title}</div>
        <div class="ml-0.5 text-xs text-left">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <span>
                (upd. <FormattedDate date={updatedDate} />)
              </span>
            )
          }
        </div>
        <Tag tags={tags} />
        <hr class="h-px mt-0 bg-[var(--white)] border-0" />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>
